
<table class="tx-queue-mailer" >
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.mail_subject" />
		</td>
		<td>
			{mail.mailSubject}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.mail_to" />
		</td>
		<td>
			{mail.mailTo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.mail_cc" />
		</td>
		<td>
			{mail.mailCc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.mail_bcc" />
		</td>
		<td>
			{mail.mailBcc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.mail_from" />
		</td>
		<td>
			{mail.mailFrom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.mail_reply_to" />
		</td>
		<td>
			{mail.mailReplyTo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.mail_message" />
		</td>
		<td>
			{mail.mailMessage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.mail_date" />
		</td>
		<td>
			{mail.mailDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.failed_recipients" />
		</td>
		<td>
			{mail.failedRecipients}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.sent" />
		</td>
		<td>
			{mail.sent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.variables" />
		</td>
		<td>
			{mail.variables}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.variables_key_hash" />
		</td>
		<td>
			{mail.variablesKeyHash}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_queuemailer_domain_model_mail.is_dummy_record" />
		</td>
		<td>
			{mail.isDummyRecord}
		</td>
	</tr>
</table>