
<f:layout name="Default" />


<f:section name="content">
<h1>Listing for Mail</h1>

<f:flashMessages />

<f:form action="list" object="{demand}" name="demand">
  <div class="hidden">
    <f:form.hidden property="pid" />
  </div>
  <div class="form-group">
    <f:form.select property="depth" options="{
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      -1: 'infinit'
    }" />
  </div>
  <div class="form-group">
    <label for="search">search</label>
    <f:form.textfield property="search" title="search" />
  </div>
  <div class="form-group">
    <label for="recipients">Recipients</label>
    <f:form.textfield property="recipients" title="recipients" />
  </div>
  <div class="form-group">
    <label for="sender">sender</label>
    <f:form.textfield property="sender" title="sender" />
  </div>
  <div class="form-group">
    <label for="message">message</label>
    <f:form.textfield property="message" title="message" />
  </div>
  <div class="form-group">
    <label for="variablesKeyHash">variablesKeyHash</label>
    <f:form.select property="variablesKeyHash" options="{hashes}" prependOptionLabel="" prependOptionValue="" />
  </div>

  <div class="form-group">
    <label><f:form.radio property="sent" value="1" /> Success</label>
    <label><f:form.radio property="sent" value="0" /> Failure</label>
  </div>
  <div class="form-group">
    <label><f:form.radio property="failedRecipients" value="0" /> None</label>
    <label><f:form.radio property="failedRecipients" value="1" /> Yes</label>
  </div>
  <div class="form-group">
    <button class="btn btn-default">Filter</button>
  </div>
</f:form>

</f:section>